{% extends 'base.html.twig' %}

{% block title %}Tache{% endblock %}

{% block body %}
    <div class="mt-5 mb-5">
        <h1>Tache pour le projet {{ project.name }}</h1>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ task.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ task.description }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ task.creationdate ? task.creationdate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Deadline</th>
                <td>{{ task.deadline ? task.deadline|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ task.statut ? 'Terminé' : 'En cours' }}</td>
            </tr>
            <tr>
                <td colspan="7">
                    <a class="btn btn-dark" href="{{ path('task_edit', {'id': task.id}) }}">Modifier</a>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <tbody>
            <tr>
                <td class="text-center" colspan="7"></td>
            </tr>
            <tr>
                <td class="text-center" colspan="7">{{ include('task/_delete_form.html.twig') }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('project_show', {'id': project.id}) }}">Retour à la liste</a>
{% endblock %}