<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
      <a class="navbar-brand" href="{{ path('project_index') }}">Accueil</a>
    {% else %}
      <a class="navbar-brand" href="{{ path('index') }}">Accueil</a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ path('project_new') }}">Nouveau projet</a>
        </li>
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_logout') }}">Deconnexion</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_register') }}">S'enregistrer</a>
            </li>
          {% endif %}
      </ul>
    </div>
  </div>
</nav>