{% extends 'base.html.twig' %}

{% block title %}Projet{% endblock %}

{% block body %}
    <h1>Projet</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Responsable</th>
                <th>Nom du projet</th>
                <th>Description</th>
                <th>Date de création</th>
                <th>Deadline</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.userproject.firstname }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.creationdate ? project.creationdate|date('Y-m-d') : '' }}</td>
                <td>{{ project.deadline ? project.deadline|date('Y-m-d') : '' }}</td>
                <td>{{ project.statut ? 'Terminé' : 'En cours' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas de projet en cours</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
