{% extends 'base.html.twig' %}


{% block title %}Projets{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="mt-5 mb-5">
            <h1>Bonjour {{ app.user.firstname }} {{ app.user.lastname }}, voici vos projets.<h1>
        </div>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Date de création</th>
                <th>Deadline</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.creationdate ? project.creationdate|date('Y-m-d') : '' }}</td>
                <td>{{ project.deadline ? project.deadline|date('Y-m-d') : '' }}</td>
                {% if project.statut %}
                    <td class="text-success">{{ project.statut ? 'Terminé' : 'En cours' }}</td>
                {% else %}
                    <td>{{ project.statut ? 'Terminé' : 'En cours' }}</td>
                {% endif %}
                <td>
                    <a href="{{ path('project_show', {'id': project.id}) }}">Voir</a>
                    {# <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas de projet en cours</td>
            </tr>
        {% endfor %}
            <tr>
                <td colspan="7">
                    <a class="btn btn-dark" href="{{ path('project_new') }}">Nouveau projet</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
