{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="mt-5 mb-5">
            <h1>Bonjour {{ app.user.firstname }} {{ app.user.lastname }}, voici vos projets.<h1>
        </div>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th><button class="btn btn-white text-dark fw-bold" onclick="tri();" title="Trier">Nom</button></th>
                <th><button class="btn btn-white text-dark fw-bold" onclick="tri();" title="Trier">Description</button></th>
                <th><button class="btn btn-white text-dark fw-bold" onclick="tri();" title="Trier">Créé le</button></th>
                <th><button class="btn btn-white text-dark fw-bold" onclick="tri();" title="Trier">Deadline</button></th>
                <th><button class="btn btn-white text-dark fw-bold" onclick="tri();" title="Trier">Statut</button></th>
                <th><button class="btn btn-white text-dark fw-bold">Action</button></th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td class="text-center">{{ project.name }}</td>
                <td class="">{{ project.description }}</td>
                <td class="text-center">{{ project.creationdate ? project.creationdate|date('Y-m-d') : '' }}</td>
                <td class="text-center">{{ project.deadline ? project.deadline|date('Y-m-d') : '' }}</td>
                {% if project.statut %}
                    <td class="text-center text-success">{{ project.statut ? 'Terminé' : 'En cours' }}</td>
                {% else %}
                    <td class="text-center">{{ project.statut ? 'Terminé' : 'En cours' }}</td>
                {% endif %}
                <td class="text-center">
                    <a class="zoom-in" href="{{ path('project_show', {'id': project.id}) }}">Voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas de projet en cours</td>
            </tr>
        {% endfor %}
            <tr>
                <td colspan="7">
                    <a class="btn btn-dark" href="{{ path('project_new') }}">Nouveau projet</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}