{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <h1>Project</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ project.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ project.description }}</td>
            </tr>
            <tr>
                <th>Creationdate</th>
                <td>{{ project.creationdate ? project.creationdate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Deadline</th>
                <td>{{ project.deadline ? project.deadline|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ project.statut ? 'Terminé' : 'En cours' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-dark " href="{{ path('project_edit', {'id': project.id}) }}">Modifier</a>

    {{ include('project/_delete_form.html.twig') }}

        <h1>Task index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Creationdate</th>
                <th>Deadline</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

        {% if project.tasks is not empty %}
            {% for task in project.tasks %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.name }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.creationdate ? task.creationdate|date('Y-m-d') : '' }}</td>
                    <td>{{ task.deadline ? task.deadline|date('Y-m-d') : '' }}</td>
                    <td>{{ task.statut ? 'Yes' : 'No' }}</td>
                    <td>
                        {# <a href="{{ path('task_show', {'id': task.id}) }}">show</a> #}
                        <a href="{{ path('task_edit', {'id': task.id}) }}">edit</a>
                        {# {{ include('task/_delete_form.html.twig') }} #}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <a class="btn btn-dark " href="{{ path('task_new', {'id': project.id}) }}">Create new</a>
    <br>
    <a href="{{ path('project_index') }}">Retour à la liste</a>

{% endblock %}
